<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MotorSales.My.MySettings.MotorConnectionString" connectionString="Data Source=G4560;Initial Catalog=Motor;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MotorSales.My.MySettings.MotorConnectionString1" connectionString="Data Source=8265U;Initial Catalog=Motor;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MotorSales.My.MySettings.ConnectionString" connectionString="Data Source=8265U;Initial Catalog=Motor;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>